@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Content/Images/Shrey.jpg" style="height : 320px;width : 240px;" />
    <h4>
        Shreya Gadikar is a Graduate Student studying in University of South Florida. He Completed his Bachelor's in Computer
        Engineering and is now pursuing a Masters in Business Analytics and Information System. He contributed to the developing
        of the Models and Databases for this project
    </h4>
</div>
<div>
    <img src="~/Content/Images/Josh.jpg" style="height : 320px;width : 240px;" />
    <h4>
        Josh currently works as an Enterprise Solution Specialist I for Jabil where he supports the global day to day operations 
        for over 100 manufacturing plants. Josh contributed to the testing as well as maintain communication for this assignment 
        to ensure the success of the group.
    </h4>
</div>
<div>
    <img src="~/Content/Images/Nick.jpg" style="height : 320px;width : 240px;" />
    <h4>
        Nick Chin is a first year student in the MS in BAIS program at USF. He has an academic and professional background in 
        civil/environmental engineering. He has contributed to the development and designing of the MVC web application.
    </h4>
</div>
<h2>DataBase Schema</h2>
<div>
    <img src="~/Content/Images/schema.jpg" style="height : 576px;width : 1024px;" />
</div>


