@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the National Parks information center!</h1>
    <h3>This page is intended to provide information for several national parks and their visitor centers spread across the United States. 
    Park information includes directions, park code, latitude, longitude, and weather information. To view the list of national parks, 
    click on the "Parks List" tab. Once there, click on the "Details" section to view detailed information about each national park and 
    "Visitor Center" for information about the open visitor centers. </h3>
    <h3>This website uses live data from National Park Service API.</h3>
</div>
